* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}


body {
    background-color: #1f2937;
    width: 100vw;
    height: 100vh;
}

.header {
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: 30px;
    font-weight: bolder;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 5px;
}

nav button, .sort-btn {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(44, 44, 43, 0.7);
    font-weight: 700;
    font-size: 1em;
    border: 2px solid #160f13;
    border-radius: 5px;
    text-align: left;
    width: 100%;
    height: 5vh;
    justify-content: center;
    padding: 10px 20px;
    margin: 10px;
}

.nav {
    width: 300px;
    min-width: 250px;
    padding: 20px;
    height: 100%;
}

.main {
    display: flex;
    height: calc(100% - 74px - 28px);
}

h1 {
    padding: 10px 20px;
}

.project-div {
    width: calc(100% - 300px);
    height: 100%;
    padding: 20px 40px;
}

.task{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    margin-bottom: 5px;
    border: 4px solid #160f13;
    border-radius: 5px;
    background-color: grey;
}

.task-left{
    display: flex;
    align-items: center;
}

.task-right{
    display: flex;
    align-items: center;
}
.task *{
    margin: 5px;

}
.task-right > button{
    color: #160f13;
 }

.project-div h1{
    margin-bottom: 10px;
}


.task.not-done{
    border-left-color: lightcoral;
}
.task.done{
    border-left-color: greenyellow;
}
.priority-high{
    border-right-color: red;
}
.priority-medium{
    border-right-color: yellow;
}
.priority-low{
    border-right-color: #98fb98;
}
.titlediv{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.sort-btn{
    width: fit-content;
}